<%= render 'home/header' %>
<main class="container-fluid bg-tertiary">
  <section class="row justify-content-center">
    <section class="card col-9 p-0 rounded-0">
      <%= image_tag @provider.img, class: "h-25 card-img-top rounded-0 object-fit-cover" %>
      <div class="card-body">
        <h4><b><%= @provider.name %></b></h4>
        <p class="fs-6 text-darky"><%= @provider.address %></p>
        <p class="fs-6 my-3 text-darky"><%= @provider.desc %></p>
        <div class="col-2">
          <div class="row m-0 mx-1 fs-6">
            <div class="col-2 col-xxl-1 p-0">
              <i class="fas fa-clock fa-sm text-primary"></i>
            </div>
            <div class="col-10 p-0">
              <p class="fs-6 text-darky"><%= @provider.opening_time %> a <%= @provider.closing_time %></p>
            </div>
          </div>
        </div>
        <% if @provider.delivery %>
          <div class="col-2 col-xxl-2">
            <div class="row m-0 mx-1 fs-6">
              <div class="col-2 col-xxl-1 p-0">
                <i class="fas fa-truck fa-sm text-primary"></i>
              </div>
              <div class="col-10 p-0">
                <p class="text-darky">Entrega a domicilio</p>
              </div>
            </div>
          </div>
        <% end %>
        <div class="row d-flex justify-content-center">
          <div class="col-11">
            <div class="row d-flex justify-content-between">
              <% @provider.products.each do |p| %>
                <div class="col-5 card border-light border-0 border-bottom shadow-none rounded-0 mx-4 m-3 p-0">
                  <a href="<%= product_path(p) %>" class="text-decoration-none">
                    <div class="card-body d-flex justify-content-between">
                      <div class="col-8">
                        <p class="text-body fs-4 m-0"><b><%= p.name %></b></p>
                        <p class="text-body fs-6 m-0"><small><%= p.description[0,35] %><%= '...' if (p.description.length > 35) %></small></p>
                        <p class="text-body fs-3 m-0 mt-4"><b>$<%= p.cost.to_i %></b><span class="fs-6 text-gray">  x invitado</span></p>
                      </div>
                      <div class="col-3">
                        <%= image_tag p.img, class: "img-fluid" %>
                      </div>
                    </div>
                  </a>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</main>
