
<main class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="row d-flex flex-column text-center align-items-center">
        <div class="col-5">
          <a href=<%= root_path() %>>
            <img src="<%= image_path('plan-it-4@2x.png') %>" class="img-fluid">
          </a>
        </div>
        <div class="col mt-4">
          <p class="fs-5 text-secondary">Registrate para contratar servicios</p>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col d-flex flex-column align-items-center">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field m-2 mt-0">
              <%= f.label :name, "Nombre", class: "fs-6" %><br />
              <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-input-box fs-4 p-2" %>
            </div>

            <div class="field m-2">
              <%= f.label :email, class: "fs-6" %><br />
              <%= f.email_field :email, autocomplete: "email", class: "form-input-box fs-4 p-2" %>
            </div>

            <div class="field m-2">
              <%= f.label :phone_number, "Teléfono (opcional)", class: "fs-6" %><br />
              <%= f.text_field :phone_number, autocomplete: "phone_number", class: "form-input-box fs-4 p-2" %>
            </div>

            <div class="field m-2">
              <%= f.label :password, "Contraseña", class: "fs-6" %><br />
              <%= f.password_field :password, autocomplete: "new-password", placeholder: "Minimo #{@minimum_password_length} caracteres", class: "form-input-box fs-4 p-2 text-secondary" %>
            </div>

            <div class="actions m-2 mt-4">
              <%= f.submit "Registrarme", class: "main-button button-size-large  fs-4" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row d-flex justify-content-center text-center mt-3">
        <p class="fs-6 text-dark">Al registrarte aceptas los Términos y Condiciones <br> y nuestra Política de Privacidad</p>
        <a href="<%= new_session_path(resource_name) %>" class="fs-5 mt-4"> <b>Ya tengo una cuenta</b> </a>
      </div>
    </div>
  </div>
</main>
